<h1 align="center"><%= "Category: " + @category.name  %></h1>
<div align="center">
  <%= link_to "Return to categories", categories_path %>
</div>
<div align="center">
  <%= will_paginate @category_articles %>
</div>
<%= render "articles/article", obj: @category_articles %>
<div align="center">
  <%= will_paginate @category_articles %>
</div>